/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
    address h3::after {
        width: 75%;
    }
    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
    address h3 {
        font-size: 24px;
    }
    address h3::after {
        width: 90%
    }
    address h2 {
        font-size: 23px;
    }
    .deil {
        margin-top: 35px;
    }
    .obejectiv-pra p {
        font-size: 15px;
        line-height: 1;
        letter-spacing: 0;
    }
    .academic {
        margin: 0px 0px 35px 0px;
    }
    .academic h2 {
        font-size: 22px;
    }
    .master h2 {
        font-size: 25px;
    }
    .col-md-4 {
        width: 50%;
        float: left;
    }
    .board {
        padding-top: 10px;
    }
    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}