/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,900|Source+Sans+Pro');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}
a:hover { text-decoration: none }

.curiculum-vitae {
    margin: 60px 0px;
    display: inline-block;
    width: 100%;
  }
  address h3 {
    text-transform: uppercase;
    font-size: 30px;
    color: #888;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
  }
  address h3:after {
    position: absolute;
    height: 2px;
    width: 37%;
    left: 0;
    bottom: 0;
    content: "";
    background-color: #888;
  }
  address h2 {
    text-transform: uppercase;
  }
  address {
    margin-bottom: 35px;
    width: 50%;
    float: left;
    margin-left: 20.5%;
  }
  .eitty {
    max-width: 160px;
    max-height: 185px;
    float: left;
}
.deil {
    margin: 0px 20.5%;
}
  .objective h2 {
    width: 25% !important;
  }
  .obejectiv-pra {
    margin-bottom: 65px;
  }
  .heading h2 {
    width: 60%;
    background-color: #ececec;
    border-radius: 5px;
    padding: 8px 0px;
}
  .obejectiv-pra p {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 2px;
  }
  .academic {
    margin: 50px 0px 80px 0px;
    background-color: #ececec;
    border-radius: 5px;
    width: 35%;
  }
  .academic h2 {
    padding: 5px 0px;
}
  .master {
    margin-bottom: 40px;
    display: inline-block;
    width: 100%;
  }
  .group {
    margin-top: 25px;
    float: left;
    margin-right: 25%;
  }



  /* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
    address h3::after {
        width: 75%;
    }
    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
    address h3 {
        font-size: 24px;
    }
    address h3::after {
        width: 90%
    }
    address h2 {
        font-size: 23px;
    }
    .deil {
        margin-top: 35px;
    }
    .obejectiv-pra p {
        font-size: 15px;
        line-height: 1;
        letter-spacing: 0;
    }
    .academic {
        margin: 0px 0px 35px 0px;
    }
    .academic h2 {
        font-size: 22px;
    }
    .master h2 {
        font-size: 25px;
    }
    .group {
        width: 50%;
        float: left;
    }
    .board {
        padding-top: 10px;
    }
    
}